<a href="https://colab.research.google.com/github/Manikanta1745/python_/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1)explain about datatypes
# 2)expain about integers with 10 examples and type of data type
# 3)expain about float with 10 examples and type of data type
# 4)expain about complex with 10 examples and type of data type

# 1)explain about datatypes

  - every value has a data type and that data type can hold the values
  - "type()" it is used identify the type of value stored in variable       
  - the are two types of datatypes
   - 1)primitive(basic)
     - they have 4 types of data types
     - 1)int
     - 2)float
     - 3)complex -> it is a both combination of real and imaginary.... for ex 4+6j
     - 4)boolean ->
   - 2)non-primitive(advance)
     - they have 5 types
     - 1)string
     - 2)list
     - 3)set
     - 4)tuple
     - 5)dictionary

#2)expain about integers with 10 examples and type of data type

  - values can be in whole numbers with any length(0,23,33,....)
  - int is a datatype of integer

In [1]:
#examples of interger

jersey_num = 45
print(jersey_num)
print(type(jersey_num))

45
<class 'int'>

In [2]:
annualExam_marks = 578
print(annualExam_marks)
print(type(annualExam_marks))

578
<class 'int'>

In [4]:
_total_runs = 436
print(_total_runs)
print(type(_total_runs))

436
<class 'int'>

In [5]:
exam_fee = 1000
print(exam_fee)
print(type(exam_fee))

1000
<class 'int'>

In [6]:
college_fee = 90000
print(college_fee)
print(type(college_fee))

90000
<class 'int'>

In [7]:
bus_fee = 36000
print(bus_fee)
print(type(bus_fee))

36000
<class 'int'>

In [8]:
car_price = 1200000
print(car_price)
print(type(car_price))

1200000
<class 'int'>

In [9]:
flat_cost = 9000000
print(flat_cost)
print(type(flat_cost))

9000000
<class 'int'>

In [10]:
laptop_price = 56499
print(laptop_price)
print(type(laptop_price))

56499
<class 'int'>

In [11]:
groceries_bill = 594
print(groceries_bill)
print(type(groceries_bill))

594
<class 'int'>

# 3)expain about float with 10 examples and type of data type

  - float values can be in decimals
  - it is like -1.33,0.56,34234.55

In [12]:
#examples of float

petrol_1ltr = 109.78
print(petrol_1ltr)
print(type(petrol_1ltr))

109.78
<class 'float'>

In [13]:
shirt_cost = 499.5
print(shirt_cost)
print(type(shirt_cost))

499.5
<class 'float'>

In [14]:
egg_cost = 6.5
print(egg_cost)
print(type(egg_cost))

6.5
<class 'float'>

In [15]:
mobile_cost = 19500.5
print(mobile_cost)
print(type(mobile_cost))

19500.5
<class 'float'>

In [16]:
medical_bill = 4989.67
print(medical_bill)
print(type(medical_bill))

4989.67
<class 'float'>

In [19]:
month_income = 89394.59
print(month_income)
print(type(month_income))

89394.59
<class 'float'>

In [20]:
uberride_price = 109.74
print(uberride_price)
print(type(uberride_price))

109.74
<class 'float'>

In [21]:
rarerabbit_cost = 37000.99
print(rarerabbit_cost)
print(type(rarerabbit_cost))

37000.99
<class 'float'>

In [22]:
celvinklien_cost = 7500.99
print(celvinklien_cost)
print(type(celvinklien_cost))

7500.99
<class 'float'>

In [23]:
tshirt_cost = 999.99
print(tshirt_cost)
print(type(tshirt_cost))

999.99
<class 'float'>

# 4)expain about complex with 10 examples and type of data type

 -

In [1]:
#examples of complex
a = 5
b = 5
complex = complex(a,b)
print(complex)
print(type(complex))

(5+5j)
<class 'complex'>

In [37]:
a= 2+3j
print(a)
print(type(a))

(2+3j)
<class 'complex'>

In [15]:
sub = 0B11+53j
print(sub)
print(type(sub))

(3+53j)
<class 'complex'>

In [17]:
hail = 0B00+233j
print(hail)
print(type(hail))

233j
<class 'complex'>

In [19]:
gravity = 34.67+0j
print(gravity)
print(type(gravity))

(34.67+0j)
<class 'complex'>

In [20]:
gap = 0+23.56j
print(gap)
print(type(gap))

23.56j
<class 'complex'>

In [21]:
cupid = 3872.4+24.89j
print(cupid)
print(type(cupid))

(3872.4+24.89j)
<class 'complex'>

In [29]:
valid = 66.87+3j
print(valid)
print(type(valid))

(66.87+3j)
<class 'complex'>

In [30]:
rabbit = 337+678.4j
print(rabbit)
print(type(rabbit))

(337+678.4j)
<class 'complex'>

In [31]:
lamda = 2378+67.33j
print(lamda)
print(type(lamda))

(2378+67.33j)
<class 'complex'>