In [ ]:
# 1)explain about datatypes
# 2)expain about integers with 10 examples and type of data type
# 3)expain about float with 10 examples and type of data type
# 4)expain about complex with 10 examples and type of data type
# 5)explain boolean with 10 exapmles
# 6)explain boolean function with 10 examples
# 7)explain type conversion (or) type casting for each type 5 examples

# 1)explain about datatypes

  - every value has a data type and that data type can hold the values
  - "type()" it is used identify the type of value stored in variable       
  - the are two types of datatypes
   - 1)primitive(basic)
     - they have 4 types of data types
     - 1)int
     - 2)float
     - 3)complex
     - 4)boolean ->
   - 2)non-primitive(advance)
     - they have 5 types
     - 1)string
     - 2)list
     - 3)set
     - 4)tuple
     - 5)dictionary

#2)expain about integers with 10 examples and type of data type

  - values can be in whole numbers with any length(0,23,33,....)
  - int is a datatype of integer

In [ ]:
#examples of interger

jersey_num = 45
print(jersey_num)
print(type(jersey_num))

45
<class 'int'>

In [ ]:
annualExam_marks = 578
print(annualExam_marks)
print(type(annualExam_marks))

578
<class 'int'>

In [ ]:
_total_runs = 436
print(_total_runs)
print(type(_total_runs))

436
<class 'int'>

In [ ]:
exam_fee = 1000
print(exam_fee)
print(type(exam_fee))

1000
<class 'int'>

In [ ]:
college_fee = 90000
print(college_fee)
print(type(college_fee))

90000
<class 'int'>

In [ ]:
bus_fee = 36000
print(bus_fee)
print(type(bus_fee))

36000
<class 'int'>

In [ ]:
car_price = 1200000
print(car_price)
print(type(car_price))

1200000
<class 'int'>

In [ ]:
flat_cost = 9000000
print(flat_cost)
print(type(flat_cost))

9000000
<class 'int'>

In [ ]:
laptop_price = 56499
print(laptop_price)
print(type(laptop_price))

56499
<class 'int'>

In [ ]:
groceries_bill = 594
print(groceries_bill)
print(type(groceries_bill))

594
<class 'int'>

# 3)expain about float with 10 examples and type of data type

  - float values can be in decimals
  - it is like -1.33,0.56,34234.55

In [ ]:
#examples of float

petrol_1ltr = 109.78
print(petrol_1ltr)
print(type(petrol_1ltr))

109.78
<class 'float'>

In [ ]:
shirt_cost = 499.5
print(shirt_cost)
print(type(shirt_cost))

499.5
<class 'float'>

In [ ]:
egg_cost = 6.5
print(egg_cost)
print(type(egg_cost))

6.5
<class 'float'>

In [ ]:
mobile_cost = 19500.5
print(mobile_cost)
print(type(mobile_cost))

19500.5
<class 'float'>

In [ ]:
medical_bill = 4989.67
print(medical_bill)
print(type(medical_bill))

4989.67
<class 'float'>

In [ ]:
month_income = 89394.59
print(month_income)
print(type(month_income))

89394.59
<class 'float'>

In [ ]:
uberride_price = 109.74
print(uberride_price)
print(type(uberride_price))

109.74
<class 'float'>

In [ ]:
rarerabbit_cost = 37000.99
print(rarerabbit_cost)
print(type(rarerabbit_cost))

37000.99
<class 'float'>

In [ ]:
celvinklien_cost = 7500.99
print(celvinklien_cost)
print(type(celvinklien_cost))

7500.99
<class 'float'>

In [ ]:
tshirt_cost = 999.99
print(tshirt_cost)
print(type(tshirt_cost))

999.99
<class 'float'>

# 4)expain about complex with 10 examples and type of data type

- it is a both combination of real and imaginary.... for ex 4+6j

In [ ]:
#examples of complex
a = 5
b = 5
complex = complex(a,b)
print(complex)
print(type(complex))

(5+5j)
<class 'complex'>

In [ ]:
a= 2+3j
print(a)
print(type(a))

(2+3j)
<class 'complex'>

In [ ]:
sub = 0B11+53j
print(sub)
print(type(sub))

(3+53j)
<class 'complex'>

In [ ]:
hail = 0B00+233j
print(hail)
print(type(hail))

233j
<class 'complex'>

In [ ]:
gravity = 34.67+0j
print(gravity)
print(type(gravity))

(34.67+0j)
<class 'complex'>

In [ ]:
gap = 0+23.56j
print(gap)
print(type(gap))

23.56j
<class 'complex'>

In [ ]:
cupid = 3872.4+24.89j
print(cupid)
print(type(cupid))

(3872.4+24.89j)
<class 'complex'>

In [ ]:
valid = 66.87+3j
print(valid)
print(type(valid))

(66.87+3j)
<class 'complex'>

In [ ]:
rabbit = 337+678.4j
print(rabbit)
print(type(rabbit))

(337+678.4j)
<class 'complex'>

In [ ]:
lamda = 2378+67.33j
print(lamda)
print(type(lamda))

(2378+67.33j)
<class 'complex'>

# 5)explain boolean with 10 exapmles

 - boolean is another type of data type which is similar to integers and string
 - boolean have 2 values true or false
 - if condition satisfy it represents true
 - if condition unsatisfy it represents false
 - in boolean we can not compare complex variable directly in python we can specify the parts real number or imaginary number

In [5]:
# examples of boolean

a = 10
b = 39
print(a>b)
type(a>b)

False

bool

In [8]:
dev = 10.33
dev1 = 333
print(dev==dev1)
type((dev==dev1))

False

bool

In [10]:
x = 33
y = 33
print(x>y)
type(x>y)

False

bool

In [11]:
i = 99
j = 99
print(i==j)
type(i==j)

True

bool

In [12]:
gap = 84.36
hurry = 84.36
print(gap<hurry)
type(gap<hurry)

False

bool

In [14]:
real = 3+78.5j
img = 3+78.5j
print(real==img)
type(real==img)

True

bool

In [15]:
real = 3341+23487.5j
img = 19113.44+4442.554j
print(real>img)
type(real>img)

# we can not compare them directly we can specify the parts like real or imaginary so they can give output

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [20]:
real1 = 3341+23487.5j
img1 = 19113.44+4442.554j
print(real1.real>img1.real)
type(real1.real>img1.real)

False

bool

In [22]:
a = 3341+23487.5j
b = 19113.44+4442.554j
print(a.imag>b.imag)
type(a.imag>b.imag)

True

bool

In [23]:
x = 33+782.33j
b = 19113.44+4442.554j
print(x==b)
type(x==b)

False

bool

# 6)explain boolean function with 10 examples

 - boolean function convert the value in boolean value either the value is true or false
 - bool () this function takes parameters if no parameter passed or zero "0" value passes it converts into false

In [38]:
# examples of boolean function

bool(10)

True

In [39]:
bool(122.44)

True

In [50]:
bool()

False

In [51]:
bool(0)

False

In [52]:
bool(0.0)

False

In [53]:
bool(0+0.0j)

False

In [40]:
a = 293
b = 21238
bool(a<b)

True

In [41]:
a = 38900
b = 934489.34
bool(a>b)

False

In [42]:
x = 3929.43
y = 3929.43
bool(x!=y)

False

In [43]:
gen = 33729.43
gen1 = 67379.43
bool(gen==gen1)

False

In [44]:
acc = 433+238.474j
acc1 = 238+23300.44j
bool(acc.real<acc1.real)

False

In [47]:
acc = 578+238.474j
acc1 = 2638+23300.44j
bool(acc.imag>acc1.imag)

False

In [46]:
acc = 433+238.474j
acc1 = 238+23300.44j
bool(acc.real==acc1.real)

False

In [48]:
acc = 433+238.474j
acc1 = 238+23300.44j
bool(acc.imag==acc1.imag)

False

# 7)explain type conversion (or) type casting for each type 5 examples

 - it is used to convert the one type of date into another data type
 - they are two types of type conversions
  - 1)implicit typeconversion
     - it converts data type into nother data type automatically
  - 2)explicit type conversion
     - in this method user needs involve to convert the data type into required data type
     - we can not convert complex into int and float because complex have real and imaginary parts
     - we can able to convert complex into int and float

In [54]:
#examples of implicit type conversion

a = 10
type(a)

int

In [55]:
x = 334.5
type(x)

float

In [56]:
a = 23
b = 13.55
type(a+b)

float

In [57]:
a = 23
b = 13.55
type(a>b)

bool

In [58]:
a = 23
b = 13.55
type(a<b)

bool

In [59]:
a = 23
b = 13.55
type(a==b)

bool

In [60]:
a = 23
b = 13.55
type(a-b)

float

In [61]:
a = 23
b = 13.55
type(a*b)

float

In [62]:
# examples of explicit type conversions

# convert int into float

x = 10
y = float(x)
print(y)
type(y)

10.0

float

In [63]:
a = 134
b = 340
c = float(a+b)
print(c)
type(c)

474.0

float

In [64]:
alexa = 32423
alexa1 = 2423
alexa2 = float(alexa-alexa1)
print(alexa2)
type(alexa2)

30000.0

float

In [65]:
sub = 2508
sub1 = 9876
sub2 = float(sub*sub1)
print(sub2)
type(sub2)

24769008.0

float

In [69]:
gen = 9977894
gen1 = 9977894
gen2 = float(gen/gen1)
print(gen2)
type(gen2)

1.0

float

In [76]:
# convert float into int

a = 10.44
b = int(a)
print(b)
type(b)

10

int

In [78]:
x = 10.46
y = 6994.3
z = int(x+y)
print(z)
type(z)

7004

int

In [79]:
sal = 112139.343
sal1 = 933449.80434
sal2 = int(sal-sal1)
print(sal2)
type(sal2)

-821310

int

In [80]:
i = 232904.399
j = 83344.94
k = int(i*j)
print(k)
type(k)

19411403160

int

In [81]:
res = 289233.33
res1 = 11144
res2 = int(res1/res)
print(res2)
type(res2)

0

int

In [70]:
# convert int and float into complex

a = 12
b = 123.4
c = complex(a,b)
print(c)
type(c)

(12+123.4j)

complex

In [71]:
x = 0
y = 0
z = complex(x,y)
print(z)
type(z)

0j

complex

In [73]:
clr = 84
clr1 = complex(clr)
print(clr1)
type(clr1)

(84+0j)

complex

In [74]:
i = 233423.55
j = 3344.4
k = complex(i,j)
print(k)
type(k)

(233423.55+3344.4j)

complex

In [75]:
_num = 339.44
_num1 = 4342
_num2 = complex(_num,_num1)
print(_num2)
type(_num2)

(339.44+4342j)

complex