In [ ]:
#task
#1) explain about dictionary with examples
#2) accessing the elements with dictionary
#3) modify the elements with dictionary
#4) explain methods

#1) explain about dictionary with examples

- dictionary in a data structure and the values can be stored in key and value pairs
- it is also known as associative arrays or hash map
- it is defined by using {} and key and values are seperated by " : "
- syntax-> {key:value,key:value,.........}

In [ ]:
#empty dictionary

empty_dict = {}
#dictionary with key value pairs
dict = {"name":"mani","age":24}
print(dict)

In [2]:
#dictionary with mixed datatypes

mixed_data = {"name":"mani",
              "age":24,
              "marks":[86,83,65]
              }
print(mixed_data)

{'name': 'mani', 'age': 24, 'marks': [86, 83, 65]}

In [29]:
data = {"kiran_age": 30,"hari_age": 25,"ganesh_age": 35}
print(data)
print(type(data))

{'kiran_age': 30, 'hari_age': 25, 'ganesh_age': 35}
<class 'dict'>

In [31]:
student_details = {"name": "mani" , "age": 24, "course": "data science","acadamey":"teks academy"}
print(student_details)
print(type(student_details))

{'name': 'mani', 'age': 24, 'course': 'data science', 'acadamey': 'teks academy'}
<class 'dict'>

In [30]:
movie = {"title": "pushpa","hero": "allu arjun","role":"smuggling"}
print(movie)
print(type(movie))

{'title': 'pushpa', 'hero': 'allu arjun', 'role': 'smuggling'}
<class 'dict'>

In [32]:
student_details = { 'ganesh': '10th class', 'anusha': '9th class','kiran': '4th class'}
print(student_details)
print(type(student_details))

{'ganesh': '10th class', 'anusha': '9th class', 'kiran': '4th class'}
<class 'dict'>

#2) accessing the elements with dictionary

In [3]:
mixed_data = {"name":"mani",
              "age":24,
              "marks":[86,83,65]
              }
print(mixed_data["name"])
print(mixed_data["age"])
print(mixed_data["marks"])

mani
24
[86, 83, 65]

In [37]:
dict = {"name":"manikanta","age":24,"location":"hyd"}
print(dict["age"])

24

In [36]:
mixed_data = {"name":"manikanta",
              "age":24,
              "marks":[85,95,93]}
print(mixed_data["marks"])

[85, 95, 93]

In [35]:
data = {"kiran_age": 30,"hari_age": 25,"ganesh_age": 35}
print(data["kiran_age"])

30

In [34]:
student_details = {"name": "mani" , "age": 24, "course": "data science","acadamey":"teks academy"}
print(student_details["course"])

data science

In [33]:
movie = {"title": "pushpa","hero": "allu arjun","role":"smuggling"}
print(movie["hero"])

allu arjun

#3)modify the elements with dictionary

In [39]:
movie = {"title": "pushpa","hero": "allu arjun","role":"smuggling"}
movie["role"] = "bussiness man"
print(movie)

{'title': 'pushpa', 'hero': 'allu arjun', 'role': 'bussiness man'}

In [40]:
student_details = {"name": "mani" , "age": 24, "course": "data science","acadamey":"teks academy"}
student_details["course"] = "data analyst"
print(student_details)

{'name': 'mani', 'age': 24, 'course': 'data analyst', 'acadamey': 'teks academy'}

In [41]:
data = {"kiran_age": 30,"hari_age": 25,"ganesh_age": 35}
data["kiran_age"] = 24
print(data)

{'kiran_age': 24, 'hari_age': 25, 'ganesh_age': 35}

In [42]:
mixed_data = {"name":"mani",
              "age":24,
              "marks":[86,83,65]
              }
mixed_data["marks"] = [95,90,45,65,97,87]
print(mixed_data)

{'name': 'mani', 'age': 24, 'marks': [95, 90, 45, 65, 97, 87]}

In [43]:
student_details = { 'ganesh': '10th class', 'anusha': '9th class','kiran': '4th class'}
student_details["ganesh"] = "9th class"
print(student_details)

{'ganesh': '9th class', 'anusha': '9th class', 'kiran': '4th class'}

#4)explain methods():

1)get():

- if key is presented in mentioned variable it returns specified value , if not it returns default key else there is no default key it returns none value

In [4]:
student = {"name":"manikanta","grade":"A"}
g = student.get("grade","nograde")
gender = student.get("gender","not specified")
h = student.get("location")
print(g)
print(gender)
print(h)

A
not specified
None

2)keys():

- it returns all keys in the dictionary

modify the data:

In [9]:
student = {"name":"manikanta","age":24}
print(student.keys())

dict_keys(['name', 'age'])

3)values():

- it returns values of the dictionary

In [10]:
student = {"name":"manikanta","age":24}
print(student.values())

dict_values(['manikanta', 24])

4)items():

- it returns key and value pairs in tuple

In [11]:
student = {"name":"manikanta","age":24}
print(student.items())

dict_items([('name', 'manikanta'), ('age', 24)])

5)pop():

- it removes the value of specified key and returns remaining key and values

In [13]:
student = {"name":"manikanta","age":24}
print(student.pop("name"))
print(student)

manikanta
{'age': 24}

6)popitem():

- it returns last key value pair as tuple

In [18]:
student = {"name":"manikanta","age":24,"name":"manikanta","age":24}
print(student.popitem())

('age', 24)

7)update():

- it updates the new key value pair to the existing dictionary it means add the new values into the dictionary
- we can update the new values to the specified key in existing dictionary

In [28]:
student = {"name":"manikanta","age":24,"location":"chennai"}
student1 = {"location":"hyd","area":"madhapur"}
student.update(student1)
print(student)

{'name': 'manikanta', 'age': 24, 'location': 'hyd', 'area': 'madhapur'}

8)clear():

- it can remove the all elements from the dictionary

In [44]:
student = {"name":"manikanta","age":24,"location":"chennai"}
print(student.clear())

None

9)copy():

- it returns copy of dictionary

In [45]:
student = {"name":"manikanta","age":24,"location":"chennai"}
print(student.copy())

{'name': 'manikanta', 'age': 24, 'location': 'chennai'}

10)setdefault():

- we can add the key value pairs into existing dictionary

In [54]:
student = {"name":"manikanta","age":24,"location":"chennai"}
student.setdefault("area","madhapur")
print(student)

{'name': 'manikanta', 'age': 24, 'location': 'chennai', 'area': 'madhapur'}

11)fromkeys():

- returns a dictionary with specified length of key with repeated values

In [57]:
student = {"name":"manikanta","age":24,"location":"chennai"}
print(student.fromkeys("name","manikanta"))

{'n': 'manikanta', 'a': 'manikanta', 'm': 'manikanta', 'e': 'manikanta'}