In [1]:
#examples with class and object

class myclass:
  x = 5
  y = "class"
#create object

obj = myclass()
print(obj.x)
print(obj.y)

5
class

In [29]:
#examples using initializer
class dog:
     def __init__(self,name,age,breed):
      self.name = name
      self.age = age
      self.breed = breed
     def bark(self):
      print("bowww")

dog1 = dog("rocky",6,"pomerian")
dog2 = dog("max",4,"husky")
print(f"dog name is {dog1.name} and {dog1.age} years old and {dog1.breed} breed")
print(f"dog name is {dog2.name} and {dog2.age} years old and {dog2.breed} breed")
dog1.bark()

dog name is rocky and 6 years old and pomerian breed
dog name is max and 4 years old and husky breed
bowww

In [38]:
class bikes:
  def __init__(self,name,model):
    self.name = name
    self.model = model
  def end(self):
    print("thank you visit again")

#calling object
bikes1 = bikes("duke",2024)
bikes2 = bikes("pulsar",2022)
print(f"bike name is {bikes1.name} and {bikes1.model} model")
print(f"bike name is {bikes2.name} and {bikes2.model} model")

bikes1.end()

bike name is duke and 2024 model
bike name is pulsar and 2022 model
thank you visit again

In [40]:
class student:
  def __init__(self,name,age,qualification,section,passedoutyear):
    self.name = name
    self.age = age
    self.qualification = qualification
    self.section = section
    self.passedoutyear = passedoutyear
  def dep(self):
    print("all students are from mechanical branch")

student1 = student("manikanta",24,"btech","A",2022)
student2 = student("ganesh",22,"btech","C",2024)
student3 = student("suresh",23,"btech","D",2023)

print(f"my name is {student1.name} i am {student1.age} years old and my qualification is {student1.qualification} from {student1.section} section and {student1.passedoutyear} batch")
print(f"my name is {student2.name} i am {student2.age} years old and my qualification is {student2.qualification} from {student2.section} section and {student2.passedoutyear} batch")
print(f"my name is {student3.name} i am {student3.age} years old and my qualification is {student3.qualification} from {student3.section} section and {student3.passedoutyear} batch")

student1.dep()

my name is manikanta i am 24 years old and my qualification is btech from A section and 2022 batch
my name is ganesh i am 22 years old and my qualification is btech from C section and 2024 batch
my name is suresh i am 23 years old and my qualification is btech from D section and 2023 batch
all students are from mechanical branch

In [65]:
# using towo initializers

class score:
  def __init__(self,team,score):
    self.team = team
    self.score = score
    print("team autralia")
  def __init__(self,team,score):
    self.team = team
    self.score = score
    print("team india")
  def __init__(self,venue):
    self.venue = venue
    print("venue is hyd")
target1 = score("aus")

#by using n times of initializers it takes only last initializer as output

venue is hyd

In [112]:
# using string method

class bus:
  def __init__(self,name,routestart,routeend):
    self.name = name
    self.routestart = routestart
    self.routeend = routeend
  def __str__(self):
    return (f"bus name is {self.name} and route starts from {self.routestart} to {self.routeend}")
    return (f"bus name is {self.name} and route starts from {self.routestart} to {self.routeend}")
  def final(self):
    print("all route buses are available")

bus1 = bus("red bus","hyderabad","vizag")
bus2 = bus("abhi bus","guntur","srisailam")
print(bus1)
print(bus2)
bus1.final()

bus name is red bus and route starts from hyderabad to vizag
bus name is abhi bus and route starts from guntur to srisailam
all route buses are available

In [127]:
class cricket:
  def __init__(self,team,captain,toss,score,wickets):
    self.team = team
    self.captain = captain
    self.toss = toss
    self.score = score
    self.wickets = wickets

  def __str__(self):
    return f"{self.team} team captian {self.captain}, {self.toss} the toss and choose to bowl first and team india scores {self.score} lost of {self.wickets} wickets "
    return f"{self.team} team captian {self.captain}, {self.toss} the toss and team austraila scores {self.score} lost of {self.wickets} wickets "

  def opp(self):
    ("congratulations india won the match")

target1 = cricket("australia","marsh","won",190,5)
print(target1)
target2 = cricket("india","rohit sharma","lost",146,10)
print(target2)
target1.opp()

australia team captian marsh, won the toss and choose to bowl first and team india scores 190 lost of 5 wickets
india team captian rohit sharma, lost the toss and choose to bowl first and team india scores 146 lost of 10 wickets

In [108]:
class college:
  def __init__(self,collegename,totalstrength,buildingname,location):
    self.collegename = collegename
    self.totalstrength = totalstrength
    self.buildingname = buildingname
    self.location = location

  def __str__(self):
    return f"college name is {self.collegename} total students {self.totalstrength} and building name is {self.buildingname} is located in {self.location}"
  def final(self):
    print("all details of college")

coll = college("sri chaitanya",1424,"bhageeradha bhawan","vizag")
print(coll)
coll.final()

college name is sri chaitanya total students 1424 and building name is bhageeradha bhawan is located in vizag
all details of college

In [114]:
class office:
  def __init__(self,name,officename,designation,location):
    self.name = name
    self.officename = officename
    self.designation = designation
    self.location = location

  def __str__(self):
    return f"i am {self.name} working at {self.officename} and my designation is {self.designation} at {self.location} "

  def final(self):
    print("this is my details")

details = office("manikanta","amazon","data scientist","hyderabad")
print(details)
details.final()

i am manikanta working at amazon and my designation is data scientist at hyderabad
this is my details

In [123]:
from os import access
class bank:
  def __init__(self,name,bankname,accounttype,location):
    self.name = name
    self.bankname = bankname
    self.accounttype = accounttype
    self.location = location

  def __str__(self):
    return f"i am {self.name} i have bank account in {self.bankname} bank and it is {self.accounttype} type located in {self.location}"

  def final(self):
    print("this is my bank details")

details = bank("manikanta","axis bank","savings","hyderabad")
print(details)

details.final()

i am manikanta i have bank account in axis bank bank and it is savings type located in hyderabad
this is my bank details

In [126]:
class flat:
  def __init__(self,singleflat,doubleflat,tripleflat):
    self.singleflat = singleflat
    self.doubleflat = doubleflat
    self.tripleflat = tripleflat

  def __str__(self):
    return f"single bedroom cost is {self.singleflat}, double bedroom cost is {self.doubleflat} and triple bedroom cost is {self.tripleflat}"

  def final(self):
    print("all costs of flats are in gacchibowli location hyderabad")

details = flat(10000,20000,30000)
print(details)

details.final()

single bedroom cost is 10000, double bedroom cost is 20000 and triple bedroom cost is 30000
all costs of flats are in gacchibowli location hyderabad