In [ ]:
# 1)define about list
# 2)creating 10 examples storing different data types
# 3)
# 4)
# 5)
# 6)
# 7)

#1) define about list

  - it is a collection of elements or values
  - list values stored in "[]" and seperated with ","
  - it is mutable that means we can change,add or remove the values
  - list is ordered data type
  - list can allow duplicate values
# how to access list elemets

  - in python list, the index of 1st element is 0,2nd element is 1,....
  - it can allows -ve index number -1 is last index of number,-2 is the next value,.....
  - examples of list given below

#2) examples of list with different data types

In [3]:

numbers = [1,2,3,4,5,6,7,8,6,4] # allow duplicate values
print(numbers)
type(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 6, 4]

list

In [2]:
names = ["apple","banana","custord","orange"]
print(names)
type(names)

['apple', 'banana', 'custord', 'orange']

list

In [4]:
bool = [True,True,False,True,False]
print(bool)
type(bool)

[True, True, False, True, False]

list

In [5]:
float = [1.5,3.5,2.4,7.4,76.3]
print(float)
type(float)

[1.5, 3.5, 2.4, 7.4, 76.3]

list

In [8]:
div = [3/6,6/4,7/3,87/65]
print(div)
type(div)

[0.5, 1.5, 2.3333333333333335, 1.3384615384615384]

list

In [9]:
fl_div = [44//3,23/34,566//244,6744//3554]
print(fl_div)
type(fl_div)

[14, 0.6764705882352942, 2, 1]

list

In [10]:
rem = [232%543,3434%244,35334%2435,3534%244]
print(rem)
type(rem)

[232, 18, 1244, 118]

list

In [7]:
mixed_type=[122,234.66,"apple",True,3//2,8/7,7867%867]
print(mixed_type)
type(mixed_type)

[122, 234.66, 'apple', True, 1, 1.1428571428571428, 64, 0.5714285714285714]

list

# 3)create a list with 15 elements you need to access each and every element from positive and negative index

In [15]:
mixedList =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
type(mixedList)
print(mixedList[0])
print(mixedList[1])
print(mixedList[2])
print(mixedList[3])
print(mixedList[4])
print(mixedList[5])
print(mixedList[6])
print(mixedList[7])
print(mixedList[8])
print(mixedList[9])
print(mixedList[10])
print(mixedList[11])
print(mixedList[12])
print(mixedList[13])
print(mixedList[14])
print(mixedList[-1])
print(mixedList[-2])
print(mixedList[-3])
print(mixedList[-4])
print(mixedList[-5])
print(mixedList[-6])
print(mixedList[-7])
print(mixedList[-8])
print(mixedList[-9])
print(mixedList[-10])
print(mixedList[-11])
print(mixedList[-12])
print(mixedList[-13])
print(mixedList[-14])
print(mixedList[-15])

12
33.12
python
True
False
apple
set
list
233
828
true
orange
bat
hitman
kohli
kohli
hitman
bat
orange
true
828
233
list
set
apple
False
True
python
33.12
12

#4) slicing both positive and negative

 - it is possible to access more than one element in the list
 - we can slice the values by using +ve and -ve index
 - syntax = [start_index : end_index] n-1 is for end_index

In [33]:
mixedList =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
#by using +ve index

print(mixedList[1:5]) #n-1= 5-1= 4 >>upto 4 index it will print
print(mixedList[4:])
print(mixedList[:12]) #n-1= 12-1= 11 >> upto 11 index
print(mixedList[:]) # it print total values

#by using -ve index

print(mixedList[-7:-1])
print(mixedList[-8:-3])
print(mixedList[-10:])
print(mixedList[:-1])
print(mixedList[:])

[33.12, 'python', True, False]
[False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']
[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange']
[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']
[233, 828, 'true', 'orange', 'bat', 'hitman']
['list', 233, 828, 'true', 'orange']
['apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']
[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman']
[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']

# 5)list operations

 - they are two types of operations
 - 1)concatination
    - it can combine the two lists
 - 2)repetition
    - it can repeat the values of list how many times we required

In [34]:
# examples of concatination

num = [1,3,422,54]
num1 = [ 7849,55,32,5]
print(num+num1)

[1, 3, 422, 54, 7849, 55, 32, 5]

In [35]:
num = [43,34,755,353443]
names = ["orange","apple","values","python"]
print(num+names)

[43, 34, 755, 353443, 'orange', 'apple', 'values', 'python']

In [36]:
fl_num = [2324.5,343.34,354.35,23.34]
bool = [True,False,True,True]
print(fl_num+bool)

[2324.5, 343.34, 354.35, 23.34, True, False, True, True]

In [37]:
div = [13/43,43/4.4,232/44.2]
rem = [113%11,2233%2994,534%243.5]
print(div+rem)

[0.3023255813953488, 9.772727272727272, 5.248868778280543, 3, 2233, 47.0]

In [38]:
mixed_type = [13,43.3,"mani",True]
mixed_type1 = [8338,37838,8283.3783]
print(mixed_type+mixed_type1)

[13, 43.3, 'mani', True, 8338, 37838, 8283.3783]

In [39]:
#examples of repetition

a = [1,323,4332,524,23.23,"mani"]
print(a*3)

[1, 323, 4332, 524, 23.23, 'mani', 1, 323, 4332, 524, 23.23, 'mani', 1, 323, 4332, 524, 23.23, 'mani']

In [40]:
mixed_type = [13,43.3,"mani",True]
print(mixed_type*4)

[13, 43.3, 'mani', True, 13, 43.3, 'mani', True, 13, 43.3, 'mani', True, 13, 43.3, 'mani', True]

In [41]:
names = ["orange","apple","values","python"]
print(names*3)

['orange', 'apple', 'values', 'python', 'orange', 'apple', 'values', 'python', 'orange', 'apple', 'values', 'python']

In [43]:
bool = [True,False,True,True]
print(bool*5)

[True, False, True, True, True, False, True, True, True, False, True, True, True, False, True, True, True, False, True, True]

In [42]:
fl_num = [2324.5,343.34,354.35,23.34]
print(fl_num*2)

[2324.5, 343.34, 354.35, 23.34, 2324.5, 343.34, 354.35, 23.34]

# 6) modify 5 elements in the list of 15 elements by using indexing and slicing

In [46]:
#by using indexing

mixed_List =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixed_List[0] = "python"
mixed_List[5] = 32.4
mixed_List[2] = "c++"
mixed_List[10] = "rohit"
mixed_List[8] = "mani"
print(mixed_List)

['python', 33.12, 'c++', True, False, 32.4, 'set', 'list', 'mani', 828, 'rohit', 'orange', 'bat', 'hitman', 'kohli']

In [62]:
#by using slicing +ve and - ve index

mixed_List =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixed_List[3:8] =  "python","selenium","java","c"
mixed_List[:3] = 2233,54.5,34,32
#mixed_List[0:] = 31231,532.434,144131
mixed_List[-4:-1] = 123.434,543.234,1434,3344
mixed_List[-1:] = "mani",223,423,23323,32232,323,2
print(mixed_List)

[2233, 54.5, 34, 32, 'python', 'selenium', 'java', 'c', 233, 828, 'true', 123.434, 543.234, 1434, 3344, 'mani', 223, 423, 23323, 32232, 323, 2]

# 7) list methods

 - they are 12 methods in list
 - 1)append()
   - it can add only one element in the end of the list
 - 2)extend()
   - it can add more than one element in the end of the list
 - 3)insert()
   - it can insert the value at a particular position of index
   - index_num,value  
 - 4)remove()
   - removes the first preference of the value if the duplicatesvalues is present
 - 5)pop()
   - it removes the value at a specified index position
   - if index position not mention it removes last value in the list  
 - 6)index()
   - it returns the index number as a output with the specified value
 - 7)count()
   - it can returns the how many times the specified number is in the list
 - 8)sort()
   - it can convert the list in ascending order
 - 9)sorted() or sort.list()
   - it can convert the list in descending oder
 - 10)reverse()
   - it can reverse the order of elements in the list
 - 11)clear()
   - removes all elements from the list
 - 12)copy()
   - returns a copy of the list
 - examples are given below

In [63]:
#append()
num = [1,32,42.43,232,32]
num.append(34)
print(num)

[1, 32, 42.43, 232, 32, 34]

In [68]:
#extend()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
list1 = [41,"alexa"]
mixedlist.extend(list1)
print(mixedlist)
mixedlist.extend([44,"alexa"])
print(mixedlist)

[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli', 41, 'alexa']
[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli', 41, 'alexa', 44, 'alexa']

In [69]:
#insert()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.insert(0,"java")
print(mixedlist)

['java', 12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']

In [70]:
#remove()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,True,"orange","bat","hitman","kohli"]
mixedlist.remove(True)
print(mixedlist)

[12, 33.12, 'python', False, 'apple', 'set', 'list', 233, 828, True, 'orange', 'bat', 'hitman', 'kohli']

In [73]:
#pop()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.pop(2)
mixedlist.pop(12)
mixedlist.pop(7)
print(mixedlist)

[12, 33.12, True, False, 'apple', 'set', 'list', 828, 'true', 'orange', 'bat', 'kohli']

In [79]:
#index()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.index(True)

3

In [80]:
#count()
mixedlist =[12,12,12,12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.count(12)

4

In [85]:
#sort()
mixedlist =["python","apple","set","list","true","orange","bat","hitman","kohli"]
mixedlist.sort()
print(mixedlist)

['apple', 'bat', 'hitman', 'kohli', 'list', 'orange', 'python', 'set', 'true']

In [89]:
#sorted() or list.sort()
mixedlist =["python","True","False","apple","set","list","true","orange","bat","hitman","kohli"]
mixedlist.sort(reverse=True)
print(mixedlist)

['true', 'set', 'python', 'orange', 'list', 'kohli', 'hitman', 'bat', 'apple', 'True', 'False']

In [91]:
#clear()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.clear()
print(mixedlist)

[]

In [95]:
#copy()
mixedlist =[12,33.12,"python",True,False,"apple","set","list",233,828,"true","orange","bat","hitman","kohli"]
mixedlist.copy()
print(mixedlist)

[12, 33.12, 'python', True, False, 'apple', 'set', 'list', 233, 828, 'true', 'orange', 'bat', 'hitman', 'kohli']