In [ ]:
# 1)define about strings
# 2)create 10 examples with using ' ' and " "
# 3)create a sting with 50 characters and access using index and apply slicing any 2 examples
# 4)explain about string format
# 5)apply operations
# 6)apply methods

# 1)define about strings

 - it is a sequence of characters
 - it is used to represent text data
 - we can create strings by using single,double and triple quotation('',"",""" """)
 - we can perform various operations and use methods to manipulate and work with string

# 2)create 10 examples with using ' ' and " "

In [ ]:
str1 = 'python'
str2 = "python 1"
str3 = """python new line"""
print(str1)
print(str2)
print(str3)

python
python 1
python new line

In [ ]:
string_variable = 'Hello, world!'
print(string_variable)
print(type(string_variable))

Hello, world!
<class 'str'>

In [ ]:
name = 'manikanta'
print(name)
print(type(name))

manikanta
<class 'str'>

In [ ]:
com_name = 'texes'
print(com_name)
print(type(com_name))

texes
<class 'str'>

In [ ]:
string = "computer science portal for cse students"
print(string)
print(type(string))

computer science portal for cse students
<class 'str'>

In [ ]:
dob = "17-06-2000"
print(dob)
print(type(dob))

17-06-2000
<class 'str'>

In [ ]:
joining_dt = "11 october 2024"
print(joining_dt)
print(type(joining_dt))

11 october 2024
<class 'str'>

In [ ]:
string1 = """ I live in a world \n and my name is maxmus meridius"""
print(string1)
print(type(string1))

 I live in a world
 and my name is maxmus meridius
<class 'str'>

In [31]:
nexa = '''parents \n
are \n
my \n
world'''
print(nexa)
print(type(nexa))

parents

are

my

world
<class 'str'>

In [ ]:
fee = """college fee is 90000 per year \n
bus fee is 30000 per year"""
print(fee)
print(type(fee))

college fee is 90000 per year

bus fee is 30000 per year
<class 'str'>

# 3)create a sting with 50 characters and access using index and apply slicing any 2 examples

In [ ]:
#positive index
new_string = "50 characters is between 7 words and 13 words with spaces"
print(new_string[0])
print(new_string[1])
print(new_string[2])
print(new_string[3])
print(new_string[4])
print(new_string[5])
print(new_string[6])
print(new_string[7])
print(new_string[8])
print(new_string[9])
print(new_string[10])
print(new_string[11])
print(new_string[12])
print(new_string[13])
print(new_string[14])
print(new_string[15])
print(new_string[16])
print(new_string[17])
print(new_string[18])
print(new_string[19])
print(new_string[20])
print(new_string[21])
print(new_string[22])
print(new_string[23])
print(new_string[24])
print(new_string[25])
print(new_string[26])
print(new_string[27])
print(new_string[28])
print(new_string[29])
print(new_string[30])
print(new_string[31])
print(new_string[32])
print(new_string[33])
print(new_string[34])
print(new_string[35])
print(new_string[36])
print(new_string[37])
print(new_string[38])
print(new_string[39])
print(new_string[40])
print(new_string[41])
print(new_string[42])
print(new_string[43])
print(new_string[44])
print(new_string[45])
print(new_string[46])
print(new_string[47])
print(new_string[48])
print(new_string[49])
print(new_string[50])
print(new_string[51])
print(new_string[52])
print(new_string[53])
print(new_string[54])
print(new_string[55])
print(new_string[56])

5
0

c
h
a
r
a
c
t
e
r
s

i
s

b
e
t
w
e
e
n

7

w
o
r
d
s

a
n
d

1
3

w
o
r
d
s

w
i
t
h

s
p
a
c
e
s

In [ ]:
#negative index
new_string = "50 characters is between 7 words and 13 words with spaces"
print(new_string[-1])
print(new_string[-2])
print(new_string[-3])
print(new_string[-4])
print(new_string[-5])
print(new_string[-6])
print(new_string[-7])
print(new_string[-8])
print(new_string[-9])
print(new_string[-10])
print(new_string[-11])
print(new_string[-12])
print(new_string[-13])
print(new_string[-14])
print(new_string[-15])
print(new_string[-16])
print(new_string[-17])
print(new_string[-18])
print(new_string[-19])
print(new_string[-20])
print(new_string[-21])
print(new_string[-22])
print(new_string[-23])
print(new_string[-24])
print(new_string[-25])
print(new_string[-26])
print(new_string[-27])
print(new_string[-28])
print(new_string[-29])
print(new_string[-30])
print(new_string[-31])
print(new_string[-32])
print(new_string[-33])
print(new_string[-34])
print(new_string[-35])
print(new_string[-36])
print(new_string[-37])
print(new_string[-38])
print(new_string[-39])
print(new_string[-40])
print(new_string[-41])
print(new_string[-42])
print(new_string[-43])
print(new_string[-44])
print(new_string[-45])
print(new_string[-46])
print(new_string[-47])
print(new_string[-48])
print(new_string[-49])
print(new_string[-50])
print(new_string[-51])
print(new_string[-52])
print(new_string[-53])
print(new_string[-54])
print(new_string[-55])
print(new_string[-56])
print(new_string[-57])

s
e
c
a
p
s

h
t
i
w

s
d
r
o
w

3
1

d
n
a

s
d
r
o
w

7

n
e
e
w
t
e
b

s
i

s
r
e
t
c
a
r
a
h
c

0
5

In [ ]:
# by using slicing method
new_string = "50 characters is between 7 words and 13 words with spaces"

#using positive slicing

print(new_string[4:54])
print(new_string[26:])
print(new_string[:42])
print(new_string[:])

#using negative slicing

print(new_string[-46:-9])
print(new_string[-52:])
print(new_string[:-20])
print(new_string[:])

haracters is between 7 words and 13 words with spa
 words and 13 words with spaces
50 characters is between 7 words and 13 wo
50 characters is between 7 words and 13 words with spaces
rs is between 7 words and 13 words wi
aracters is between 7 words and 13 words with spaces
50 characters is between 7 words and
50 characters is between 7 words and 13 words with spaces

In [ ]:
new_string1 = 'If spaces are not included in the character count, then 50 characters'

#using positive slicing

print(new_string1[13:61])
print(new_string1[24:])
print(new_string1[:54])
print(new_string[:])

#using negative slicing

print(new_string1[-54:-13])
print(new_string1[-63:])
print(new_string1[:-21])
print(new_string1[:])

 not included in the character count, then 50 ch
ed in the character count, then 50 characters
If spaces are not included in the character count, the
50 characters is between 7 words and 13 words with spaces
ot included in the character count, then
ces are not included in the character count, then 50 characters
If spaces are not included in the character coun
If spaces are not included in the character count, then 50 characters

# 4)explain about string format

 - there are 3 types of formats
 - 1) old style format(% operator)
   - uses the % operators and placeholders
 - 2) format method
   - uses the format method() with placeholders
 - 3) string interpolation(f-string-python 3.6 and later
   - present we are using this format only
   - using f-string where expressions inside curly braces{} are evaluated and replaced
 - examples are given below

In [2]:
#using old style format

name = "mani kanta"
age = 24
formatted_string = "my name is %d and i am %s years old." %(name,age)
print(formatted_string)

TypeError: %d format: a real number is required, not str

In [4]:
#format method

name = "manikanta"
age = 24
formatted_string = "my name is {} and i am {} years old".format(name,age)
print(formatted_string)

my name is manikanta and i am 24 years old

In [ ]:
#using f-string format

name = "manikanta"
age = 24
formatted_string = f"my name is {name} and i am {age} years old."
print(formatted_string)

my name is manikanta and i am 24 years old.

string operations:

- they are two operations
- 1)conatination - combining of two strings
- 2)repetation - repeat the strings in multiple times

In [25]:
#concatination

str1 = ("hello")
str2 = "python"
print(str1+" "+str2)

hello python

In [28]:
#repetation

str = 1,2,3,4
print(str*4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

string methods():

1)len():

- it returns the length of the string

In [1]:
str = "jrkopeelfd"
len(str)

10

2)lower() & upper():

- convert the string into lower to upper and upper to lower case

In [4]:
str = "I Am One Of The Most Unluciest Person In The World"
print(str.lower())
print(str.upper())

i am one of the most unluciest person in the world
I AM ONE OF THE MOST UNLUCIEST PERSON IN THE WORLD

3)strip():

- removes starting and ending spaces in the string

In [5]:
str = "      mani   kanta    "
str.strip()

'mani   kanta'

4)replace():

- repalce a character or word with another character or word

In [9]:
str = "I Am One Of The Most Unluciest Person In The World"
print(str.replace("n","@"))
print(str.replace("The","@@"))

I Am O@e Of The Most U@luciest Perso@ I@ The World
I Am One Of @@ Most Unluciest Person In @@ World

5)split():

- split the string into list of substring

In [13]:
str = "I Am One Of The Most Unluciest Person In The World"
print(str.split())

['I', 'Am', 'One', 'Of', 'The', 'Most', 'Unluciest', 'Person', 'In', 'The', 'World']

6)join():

- it joins the list of string into one string

In [22]:
str = ['I', 'Am', 'One', 'Of', 'The', 'Most', 'Unluciest', 'Person', 'In', 'The', 'World']
print(" ".join(str))

I Am One Of The Most Unluciest Person In The World

7)capitalize():

- it converts first character into capital

In [32]:
str = "manikanta"
print(str.capitalize())

Manikanta

8)casefold():

- it returns the string into lowercase

In [33]:
str = "MANIkanta"
print(str.casefold())

manikanta

9)center():

- it returns the string in center from mentioned number of spaces

In [39]:
str = "manikanta"
print(str.center(50))

                    manikanta

10)count():

- it returns the number of occurance in a string

In [42]:
str = "manikanta"
print(str.count("a"))

3

11)find():

- it finds the strings place and identifies it

In [43]:
str = "manikanta"
print(str.find("i"))

3

12)encode():

- it returns the encoded of the string

In [44]:
str = "manikanta"
print(str.encode())

b'manikanta'

13)endswith():

- it prints true if the string ends with specified values

In [45]:
str = "manikanta"
print(str.endswith("t"))

False

14)expandtabs():

- it sets the string tab size

In [46]:
str = "my\tname\tis\tmanikanta\t"
print(str.expandtabs())

my      name    is      manikanta

15)index():

- it returns the position of a string and gives index number

In [47]:
str = "manikanta"
print(str.index("n"))

2

16)isalnum():

- it returns true if the string is alpha numeric

In [49]:
str = "manikanta45@"
print(str.isalnum())

False

17)isalpha():

- it returns true if the string is alphabet

In [53]:
str = "mani45"
print(str.isalpha())

False

18)isascii():

- it returns true if all characters in lower case or uppercase

In [59]:
str = "manikanta_?./,.lpoijkhrjdxcnmmnmkp2lwe;'rlf"
print(str.isascii())

True

19)isdecimal():

- it returns true if all characters in string are in single line numbers

In [74]:
str = "633"
print(str.isdecimal())

True

20)isdigit():

- it returns true if all characters in string is digit

In [78]:
str = "11234567"
print(str.isdigit())

True

21)isidentifier():

- it returns true if the string if the string is an identifier and it cannot come true if they are any special characters

In [81]:
str = "manikanta@"
print(str.isidentifier())

False

22)islower():

- it returns true if the string is in lowercase

In [82]:
str = "Mani"
print(str.islower())

False

23)isupper():

- it returns true if the string is in uppercase

In [83]:
str = "manikanta"
print(str.isupper())

False

24)isnumeric():

- it returns true if string is in numeric and it allows only any one number

In [85]:
str = "12"
print(str.isnumeric())

True

25)istitle():

- it returns true if the string is title cased

In [88]:
str = "manikanta"
print(str.istitle())

False

26)isspace():

- it returns true if the string is in white spaces

In [91]:
str = " yuioiugf "
str1 = "  "
print(str.isspace())
print(str1.isspace())

False
True

27)isprintable():

- it returns true if the string are printable

In [96]:
str = "manikanta"
print(str.isprintable())

True

28)lstrip():

- it removes the whitespaces of left side in the string

In [97]:
str = "             manikanta       "
str.lstrip()

'manikanta       '

29)rstrip():

- it removes the white spaces of right side of the string

In [98]:
str = "      manikanta        "
str.rstrip()

'      manikanta'

30)splitlines():

- it will split the string and return list type

In [101]:
str = "my \n name \n is \n manikanta"
print(str.splitlines())

['my ', ' name ', ' is ', ' manikanta']

31)ljust():

- the string method returns a new string of the given length after substituting a given value it can add spaces on right side of give length

32)rjust():

- the string method returns a new string of the given length after substituting a given value it can add spaces on left side of give length

In [105]:
str = "manikanta"
length = 23
str.rjust(length)

'              manikanta'

33)zfill():

- it returns the what we mentioned position in a string and adds the zero in starting

In [106]:
str = "manikanta"
print(str.zfill(45))

000000000000000000000000000000000000manikanta

34)swapcase():

- convert all uppercase into lowercase and lowercase into uppercase

In [110]:
str = "MAnikanta"
print(str.swapcase())

maNIKANTA

35)startswith():

- returns true if the string starts with the given character

In [111]:
str = "manikanta"
print(str.startswith("m"))

True

36)rindex():

- returns the highest index of the substring inside the string

In [112]:
str = " hi manikanta"
name = str.rindex("kanta")
print("substring'mani':",name)

substring'mani': 8

37)rfind():

- returns the highest index of substring

In [114]:
str = "manikanta"
print(str.rfind("k"))

4

38)format_map():

- format the specified values in a string using a dictionary

In [118]:
str = {"name":"mani","age":24}
print("{name} last name is {age}".format_map(str))

mani last name is 24