<a href="https://colab.research.google.com/github/Manikanta1745/python_/blob/main/python_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# task2

# 1)explain about variables
# 2)rules of variables
# 3)types of variables, 10 examples of each and every type and print the output and identify the type

 # 1)explain about variables
  
  - variable is a name given to memory loaction to store a value
  - this means when you create a variable you reserve some space in memory
  - the equal(=) operator used to assign to a variable

# 2)rules of variables
  
  - variable can contain only alphabet, numeric and underscore (A-z,0-9,_)
  - variable cannot start with numbers and special characters(!,@,#,$,%,^,&,*) except underscore(-)
  - reserved keywords cannot be used naming the variable
  - vaiable names are case sensitive which means Name and NAME are two different types of variables in python
  - examples of valid identifiers: a123, _n, n_9, etc...
  - examples of invalid identifiers: 1a, n%4, n 9, etc...

  - examples are executed below....

# 3)types of variables, 10 examples of each and every type and print the output and identify the type

 - they are two types of variables
 - 1)single variable
 - 2)multi variable - they are divided into two types
     - 1)multi to multi variable
     - 2)multi to one variable

In [1]:
#examples of single variables

name = "python"
print(name)
print(type(name))

python
<class 'str'>

In [2]:
_num = 10
print(_num)
print(type(_num))

10
<class 'int'>

In [3]:
cibil_score = 789
print(cibil_score)
print(type(cibil_score))

789
<class 'int'>

In [4]:
cgpa_avg = 7.76
print(cgpa_avg)
print(type(cgpa_avg))

7.76
<class 'float'>

In [6]:
com = 4+16j
print(com)
print(type(com))

(4+16j)
<class 'complex'>

In [8]:
_totalmarks = 567
print(_totalmarks)
print(type(_totalmarks))

567
<class 'int'>

In [9]:
country = "India"
print(country)
print(type(country))

India
<class 'str'>

In [10]:
result = "pass"
print(result)
print(type(result))

pass
<class 'str'>

In [11]:
Result_ = "fail"
print(Result_)
print(type(Result_))

fail
<class 'str'>

In [12]:
RESULT = "A+"
print(RESULT)
print(type(RESULT))

A+
<class 'str'>

In [17]:
#examples of multi variables
#1)multi to multi variables

a,b,c = 1,2,3
print(a,b,c)
print(type(a))

1 2 3
<class 'int'>

In [23]:
num1,name,num2 = 21,"word",28.32
print(num1,name,num2)
print((type(num1)),(type(name)),(type(num2)))

21 word 28.32
<class 'int'> <class 'str'> <class 'float'>

In [28]:
N_ame,_salary,_tax = "manikanta",36000,3.5
print("Dear",N_ame, "your salary",_salary, "has been credited and deducted percentage of tax is",_tax,"%")
print((type(N_ame)),(type(_salary)),(type(_tax)))

Dear manikanta your salary 36000 has been credited and deducted percentage of tax is 3.5 %
<class 'str'> <class 'int'> <class 'float'>

In [31]:
jersey_num,game,highest_score = 45,"cricket",264
print(jersey_num,game,highest_score)
print(type(jersey_num))
print(type(game))

45 cricket 264
<class 'int'>
<class 'str'>

In [32]:
sport,name,position = "cricket","rohit sharma","captain"
print(sport,name,position)
print(type(name))

cricket rohit sharma captain
<class 'str'>

In [33]:
N_um1,N_ame,F_avactor = 45,"mani","arjun"
print(N_um1,N_ame,F_avactor)
print(type(N_um1))
print(type(N_ame))

45 mani arjun
<class 'int'>
<class 'str'>

In [36]:
_num1,_num2,_num3 = 113,232,42.23
print(_num1,_num2,_num3)
print(type(_num1))
print(type(_num3))

113 232 42.23
<class 'int'>
<class 'float'>

In [37]:
_Name1,_Name2,_Name3 = "mani","kiran","hari"
print(_Name1,_Name2,_Name3)
print(type(_Name1))

mani kiran hari
<class 'str'>

In [38]:
NAME,REGD_NUM,RESULT = "Mani",23,"pass"
print(NAME,REGD_NUM,RESULT)
print(type(NAME))
print(type(REGD_NUM))

Mani 23 pass
<class 'str'>
<class 'int'>

In [39]:
_N_aM_e,C_l_asS,_S_eC_ = "mani",10,"A"
print(_N_aM_e,C_l_asS,_S_eC_)
print(type(_N_aM_e))
print(type(C_l_asS))

mani 10 A
<class 'str'>
<class 'int'>

In [40]:
#2)multi to one variables

a=b=c=17
print(a,b,c)
print(type(a))

17 17 17
<class 'int'>

In [41]:
name1=name2=name3 = "mani"
print(name1,name3)
print(type(name2))

mani mani
<class 'str'>

In [42]:
captain=player=opener = "rohit sharma"
print(captain)
print(player)
print(opener)
print(type(player))

rohit sharma
rohit sharma
rohit sharma
<class 'str'>

In [43]:
_Car1=_car2=car3 = "Tata"
print(_Car1)
print(car3)
print(type(car3))

Tata
Tata
<class 'str'>

In [45]:
PRINCIPAL=CLASS_TEACHER=_MATHSTEACHER = "MAHESH SIR"
print(PRINCIPAL)
print(type(CLASS_TEACHER))

MAHESH SIR
<class 'str'>

In [46]:
groceries_=medicine=CLOTHES=10378.78
print(groceries_)
print(type(CLOTHES))

10378.78
<class 'float'>

In [48]:
school=inter=engineer = "certified"
print(engineer)
print(type(inter))

certified
<class 'str'>

In [49]:
name1=_Name2=NAME3 = "harsha"
print(NAME3)
print(type(_Name2))

harsha
<class 'str'>

In [50]:
num1=_Num2=NUM3 = 978.4
print(num1)
print(_Num2)
print(NUM3)
print(type(NUM3))

978.4
978.4
978.4
<class 'float'>