In [ ]:
# 1)explain about operators
# 2)define types of operators in python and explain each and every type of operator with 10 examples
# 3)define precedence(bodmas)rule

# 1)explain about operators

 - the operator is a symbol that performs some operation between the two values or variables
 - it is used to perform some variety of tasks

# 2)define types of operators in python and explain each and every type of operator with 10 examples

 - they are 7 types of operators
 - 1) arthematic operators
 - 2) comparision operators
 - 3) assignment operators
 - 4) logical operators
 - 5) identity operators
 - 6) membership operators
 - 7) bitwise operators

  1) arthematic operators
  - it is used between two operands for a particular operatons
  - they are 7 operators
    - 1) addition(+)
       -  it is used to add two operands
    - 2) subtraction(-)
       -  it is used to subtract one value from another value
    - 3) mutiplication(*)
       -  it is used to multiply one operand with another operand
    - 4) division(/)
       -  it returns the quotient after dividing the first operand by the second operand
    - 5) floor division(//)
       -  it returns the quotient value in integer format after dividing the first operand by the second operand
    - 6) exponential(**)
       -  it means known as power it calculates the first operand power to the second operand
    - 7) modulus(%)
       -  it returns the remainder after dividing the first operand by the second operand
    - examples of arthematic operators given below.......

In [ ]:
# examples of arthematic operators

a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

30
-10
200
0.5
100000000000000000000
0
10

In [ ]:
x = 23
y = 22
z = x+y
print(z)
type(z)

45

int

In [ ]:
i = 432
j = 341.5
k = i-j
print(k)
type(k)

90.5

float

In [ ]:
rev = 338.44
rev1 = 23344.22
rev2 = rev-rev1
print(rev2)
type(rev2)

-23005.780000000002

float

In [ ]:
mul = 332
mul1 = 84
mul2 = mul*mul1
print(mul2)
type(mul2)

27888

int

In [ ]:
div = 43
div1 = 98
div2 = div/div1
print(div2)
type(div2)
# by using / output will be quotient

0.4387755102040816

float

In [ ]:
fld = 4556
fld1 = 364
fld2 = fld//fld1
print(fld)
type(fld2)
# by using // output is quotient and returnsin int

4556

int

In [ ]:
fd = 782334
fd1 = 783788
fd2 = fd//fd1
print(fd2)
type(fd2)

0

int

In [ ]:
exp = 6
exp1 = 7
exp2 = exp**exp1
print(exp2)
type(exp2)

279936

int

In [ ]:
mod = 233
mod1 = 43
mod2 = mod%mod1
print(mod2)
type(mod2)
#by using % it returns output as remainder

18

int

2)comparision operators
  - it is mainly used for comparision purpose
  - the operator compare the values of two operands and return the true or false boolean values
  - they are 6 operators
   - 1) is equalto(==)
     - if the two operands is equal it becomes true
   - 2) not equalto(!=)
     - if two operands not equal it becomes true
   - 3) greater than or equalto(>=)
     - the first operand is greater than or equalto the second operand it becomes true
   - 4) less than or equalto(<=)
     - the first operand is less than or equalto the second operator it becomes true
   - 5) greater than(>)
     - if the first operand is greater than second operand it beacoms true
   - 6) less than(<)
     - if the first operand is less than second operand it becomes true
   - examples of comparison operator give below........

In [ ]:
#examples of comparision operators

a = 10
b = 20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b)
print(a>b)

False
True
True
False
True
False

In [ ]:
eq = 433
eq1 = 30
print(eq==eq1)

False

In [ ]:
x = 444
z = 444
print(x==z)

True

In [ ]:
i = 359
j = 474
print(i!=j)

True

In [ ]:
les = 230
les1 = 9390
print(les<les1)

True

In [ ]:
_les = 9939
_les1 = 920
print(_les>_les1)

True

In [ ]:
leseq = 3390
leseq1 = 403
print(leseq<=leseq1)

False

In [ ]:
geteq = 380
geteq1 = 819
print(geteq>=geteq1)

False

3) assignment operator

   - it is used to assign the values to operators
   - it can be reduce the memory usage (or) code optimization
   - they are 8 operators
      - 1)assignment operator(=)
      - 2)addition operator(+=)
      - 3)subtraction operator(-=)
      - 4)multiplication operator(*=)
      - 5)division operator(/=)
      - 6)floor division operator(//)
      - 7)exponential operator(**)
      - 8)modulus operator(%)
   - examples are given below.....

In [ ]:
a = 4
b = 3
print('a=b:', a==b)
print('a+=b:', a+b)
print('a-=b:', a-b)
print('a*=b:', a*b)
print('a/=b:', a/b)
print('a%=b:', a%b)
print('a**=b:', a**b)
print('a//=b:', a//b)

a=b: False
a+=b: 7
a-=b: 1
a*=b: 12
a/=b: 1
a%=b: 1
a**=b: 64
a//=b: 1

In [ ]:
sez = 13
sez1 = 22
sez+=sez1
print(sez)

35

In [ ]:
x = 7
y = 10
x-=y
print(x)

-3

In [ ]:
i = 3
j =6
i*=j
print(i)

18

In [ ]:
fn = 9
fn1 = 8
fn/=fn1
print(fn)

1.125

In [ ]:
jk = 8
jk1 = 4
jk**=jk1
print(jk)

4096

In [ ]:
ks = 274
ks1 = 87
ks//=ks1
print(ks)

3

In [ ]:
ln = 433
ln1 = 424
ln%=ln1
print(ln)

9

4) logical operator

   - to make decisions typically uses logical operators
   - they are 3 types
     - 1) and
       - if two expressions are satisfies it returns true,or if one expresssion is unsatisfies then it returns as false   
     - 2) or
       - in two expressions either one expression is satisfies it returns true
     - 3) not
       - it convert reverse that means true to false (or) false to true
   - examples are given below.....

In [ ]:
a = 29
b = 68
c = 687
print(a<b and a<c)
print(a<b or a<c)
print(not(a<b and a<c))

True
True
False

In [ ]:
ln = 23
ln1 = 33
ln2 = 33
print(ln==ln1 and ln1==ln2)
print(ln==ln1 or ln1==ln2)
print(not(ln==ln1 or ln1==ln2))

False
True
False

In [ ]:
i = 89
j = 78
k = 78
print(i!=j and j!=k)
print(i!=j or j!=k)
print(not(i!=j and j!=k))

False
True
True

In [ ]:
fk = 76
fk1 = 67
fk2 = 60
print(fk>fk1 and fk1>fk2)
print(fk>fk1 or fk1>fk2)
print(not(fk>fk1 and fk1>fk2))

True
True
False

In [ ]:
ls = 78
ls1 = 68
ls2 = 897
print(ls<=ls1 and ls1<=ls2)
print(ls<=ls1 or ls1<=ls2)
print(not(ls<=ls1 or ls1<=ls2))

False
True
False

In [ ]:
kn = 87
kn1 = 64
kn2 = 67
kn3 = 5789
print((kn*kn1)>kn3 and (kn1*kn2)>kn3)
print((kn*kn1)>kn3 or (kn1*kn2)>kn3)
print(not((kn*kn1)>kn3 and (kn1*kn2)>kn3))

False
False
True

In [ ]:
lm = 72
lm1 = 680
lm2 = 579
print(lm>=lm1 and lm1>=lm2)
print(lm>=lm1 or lm1>=lm2)
print(not(lm>=lm1 or lm1>=lm2))

False
True
False

In [ ]:
xn = 577
xn1 = 637
xn2 = 738
xn3 = 1288
print((xn+xn1)<=xn3 and (xn1+xn2)<=xn3)
print((xn+xn1)<=xn3 or (xn1+xn2)<=xn3)
print(not((xn+xn1)<=xn3 and (xn1+xn2)<=xn3))

False
True
True

5) identity operator

  - it is used to identify the values is present (or) not in operands
  - they are 2 types
    - 1) is
      - if the operands are same it returns true
    - 2) isnot
      - if operands are not same it returns true
  - examples are given below

In [ ]:
#examples of identity operator

x = 10
y = 20
print(x is y)

False

In [ ]:
a = 9349
b = 9349
c = a
print(a is b)
print(c is a)

True
True

In [ ]:
sr = " Lane"
sr1 = " Lane"
print(sr is sr1)
print(sr is not sr1)

False
True

In [ ]:
nm = "python"
nm1 = "python"
print(nm is nm1)
print(nm is not nm1)

True
False

In [ ]:
i = "space "
j = "space"
print(i is j)
print(i is not j)

False
True

In [ ]:
k = 88239
l = "jain"
print(k is l)
print(k is not l)

False
True

In [ ]:
u = 950
t = 840.6
print(u is t)
print(u is not t)

False
True

In [ ]:
ln = " hello"
ln1 = " Hello"
print(ln is ln1)
print(ln is not ln1)

False
True

In [ ]:
br = "rare"
br1 = "rabbit"
print(br is br1)
print(br is not br1)

False
True

6) membership operator

 - it is used to test weather the operand is in sequence or not
 - they are 2 types
  - 1) in
    - if the operand found in squence it returns true
  - 2) not in
    - if the operand not found in sequence it returns true
 - examples are given below

In [ ]:
name = "acadaemy"
print("a" in name)
print("A" not in name)

True
True

In [ ]:
a = [1,3,2,5]
b = [10,75,98]
print(1 in a)
print(11 in b)
print(3 not in a)
print(85 not in b)

True
False
False
True

In [ ]:
11

In [6]:
name = ["ganesh",32,43,"python"]
print("ganesh" in name)
print("ganesh" not in name)

False
False

In [5]:
num = [3.24,444.42,23.231]
print(3.24 in num)
print(4 not in num)

True
True

7) bitwise operator

 - it is used to perform bitwise calculations on integers
 - the integers are converted into binary and perform on each bit by bit
 - they are 6 types of bitwise operator
   - 1) &(AND)
     -  if two values are satisfies it returns true,or if one expresssion is unsatisfies then it returns as false
   - 2) |(OR)
     -  either one value is satisfies then it returns as true
   - 3) ^(XOR)
     -  if both conditions are satisfy or both condition unsatifies it returns false
     -  only one condition is to be satify then it returns true
   - 4) ~(NOT)
     -  it is reverse the binary numbers for example, 0 turns into 1 and 1 turns into 0
     -  formulae is -(n+1)
   - 5) <<(zero fill left shift)
     -  we can specify the number of zeros can add in the left side
   - 6) >>(signed right shift)
     -  it can remove the number of places we can mention
 - examples are give below

In [8]:
a = 100
b = 30
print(a&b)

4

In [9]:
i = 18
j = 22
print(i|j)

22

In [10]:
lm = 123
lm1 = 999
print(lm&lm1)

99

In [12]:
x = 24
y = 123
z = 1000
n = 710
print(x|y)
print(z|n)

123
1006

In [13]:
print(78&12)
print(1024&1)
print(2024&2023)
print(2026&0)

12
0
2016
0

In [14]:
print(78|12)
print(1024|1)
print(2024|2023)
print(2026|0)

78
1025
2031
2026

In [16]:
print(6^7)
print(7^11)
print(7^11)
print(9^23)

1
12
12
30

In [17]:
print(~3)
print(~90)
print(~2356)

-4
-91
-2357

In [19]:
print(9<<2)
print(7<<3)
print(27<<2)
print(108<<1)

36
56
108
216

In [20]:
print(13>>2)
print(578>>2)
print(2024>>3)

3
144
253

# 3)define precedence(bodmas)rule

  - we can give the priority for the operators
  - it can completely works on numerics
   - 1) ()                        - paranthesis
   - 2) **                        - exponential
   - 3) +x,-x,~x                  - unary plus,unary minus and bitwise NOT
   - 4) *,/,//,%                  - multiplication,division,floor division,modulus
   - 5) +,-                       - addition and subtraction
   - 6) <<,>>                     - left shift, right shift
   - 7) &                         - bitwise AND
   - 8) ^                         - bitwise XOR
   - 9) |                         - bitwise OR
   - 10) ==,!=,<,>,<=,>=,is,is not,in,not in - comparision,identity,membership operators
   - 11) not                      - logical NOT
   - 12) or                       - logical OR
  - examples are given below

In [22]:
print(7+3*3)
print(7+3**3+(7+3))
print(8+3+6+33*7+(3**2))

16
44
257

In [23]:
print(8+7%7**2)
print(7%49)
print(78+(35*2)+9)

15
7
157

In [24]:
print(9**4&64<=7288)

True

In [25]:
print(5**5|169>4596)

False

In [26]:
print(19**3<<3>=5124)

True

In [32]:
a = 6
b = 71
print(a%b)
print(a-(b*float(a/b)))

6
0.0

In [34]:
33-44/7<=2

False