In [ ]:
#prime or not using function with class

a = int(input("enter number"))

class numbers:
  def __init__(self,a):
    self.a = a
  def prime(self):
    if a%2==0:
      print( f"{self.a} is prime number")
    else:
      print( f"{self.a} is not a prime number")

object = numbers(a)
object.prime()

enter number2
2 is prime number

In [ ]:
# print stars by using class

a = int(input("enter number "))
class stars:
  def __init__(self,a):
    self.a = a
#for rows and columns we can create nested loops
  def star(self):
   for i in range(a):
    for j in range(a-i):
      print("*" ,end = " ")
    print("") #for next line

object = stars(a)
object.star()

enter number 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#covert celcius into fahrenheit by using class

cel = float(input("enter celcius tempetarure"))
fah =  cel*9/5+32 #formulae

class temp:
 def __init__(self,cel,fah):
   self.cel = cel
   self.fah = fah
 def __str__(self):
  return f"{self.cel} celcius temperatue is equal to {self.fah} fahrenheit temperature"

object = temp(cel,fah)
print(object)

enter celcius tempetarure34
34.0 celcius temperatue is equal to 93.2 fahrenheit temperature

In [ ]:
#calculate simple intrest by using class

p = int(input("enter principle amount "))
n = int(input("enter no of months "))
r = int(input("enter rate of intrest"))
simple_intrest = (p*n*r)/100
compound_intrest = (1+r/100)**n-1
class simple:
  def __init__(self,p,n,r,simple_intrest,compund_intrest):
    self.p = p
    self.n = n
    self.r = r
    self.simple_intrest = simple_intrest
    self.compound_intrest = compound_intrest
  def intrest(self):
    print(f"principle amount is {self.p} for {self.n} months and rate of intrest is {self.r} ,simple intrest is {self.simple_intrest} and compound intrest is {self.compound_intrest}")

object = simple(p,n,r,simple_intrest,compound_intrest)
object.intrest()

enter principle amount 1200000
enter no of months 12
enter rate of intrest10
principle amount is 1200000for 12 months and rate of intrest is 10 ,simple intrest is 1440000.0 and compound intrest is 2.138428376721003

In [ ]:
#convert integer into decimals by using function in class

a = int(input("enter a number "))

class number:
  def __init__(self,a):
    self.a = a
  def __str__(self):
    return f"{self.a} integer converted into {float(self.a)} decimal"

object = number(a)
print(object)

enter a number 2344
2344 integer converted into 2344.0 decimal

In [23]:
#given string is armstrong or not by using class

num = int(input("Enter a number "))

class armstrong:
  def __init__(self,num,sum,temp):
    self.num = num
    self.sum = sum
    self.temp = temp
  def __str__(self):
    #initialize the sum
    sum = 0
    temp = num
    while temp > 0:
     digit = temp % 10
     sum = sum+digit ** 3
     temp //= 10
     if num == sum:
      return f"{num} is an armstrong number"
     else:
      return f"{num} is not an armstrong number"

object = armstrong(num,sum,temp)
print(object)

Enter a number 1234
1234 is not an armstrong number

In [ ]:
#find non_repeting first occurance character in a string by using class

str=input("enter character ")

class string:
  def __init__(self,str):
    self.str = str
  def __str__(self):
     for i in str:
      if str.count(i)==1:
       return f'{i} is the first non-repeating of the string'
       break;
      else:
       return f'There are no first non-repeating string'

object = string(str)
print(object)

enter character mmmm
There are no first non-repeating string

In [ ]:
#python code of greatest common divisor by using class

num1 = int(input("enter number "))
num2 = int(input("enter number "))

rem = num1

class gcd:
  def __init__(self,num1,num2,rem):
    self.num1 = num1
    self.num2 = num2
    self.rem = rem
  def __str__(self):
    while self.rem!= 0:
     self.rem = self.num1%self.num2
     self.num1 = self.num2
     self.num2 = self.rem
    return f"hcf of {num1} and {num2} is {self.num1}"

object = gcd(num1,num2,rem)
print(object)

enter number 12
enter number 8
hcf of 12 and 8 is 4

In [ ]:
#remove duplicate from the list by using class

a = int(input("enter number "))
list = []

class duplicate:
 def __init__(self,a):
  self.a = a
 def value(self):
  for i in range(a):
   x = int(input())
   list.append(x)
  print(list)
  non_duplicate_value = set(list)
  print(non_duplicate_value)

object = duplicate(a)
object.value()

enter number 5
45
45
18
10
10
[45, 45, 18, 10, 10]
{18, 10, 45}

In [ ]:
#replace the string space with a given character

str = input("enter character ")
char = input("enter character ")

class string:
  def __init__(self,str,char):
    self.str = str
    self.char = char
  def __str__(self):
    self.replace = str.replace(" ",self.char)
    return f"string spaces replaced with {self.char}"
  def final(self):
    print(self.replace)

object = string(str,char)
print(object)
object.final()

enter character i am manikanta and i am from vzm
enter character @@
string spaces replaced with @@
i@@am@@manikanta@@and@@i@@am@@from@@vzm

In [ ]:
#swap two numbers with =out using any 3rd variable in class

a = input("enter a number ")
b = input("enter a number ")

class swap:
  def __init__(self,a,b):
    self.a = a
    self.b = b
    a,b = b,a
  def __str__(self):
    return f"values before swapping a = {self.a} and b = {self.b}"
  def swapp(self):
    print(f"values after swapping a = {self.b} and b = {self.a}")

details = swap(a,b)
print(details)
details.swapp()

enter a number 45
enter a number 18
values before swapping a = 45 and b = 18
values after swapping a = 18 and b = 45

In [ ]:
#add two integers without using any arthematic operators

num1 = int(input("enter number "))
num2 = int(input("enter number "))
list = []

class oper:
  def __init__(self,num1,num2):
    self.num1 = num1
    self.num2 = num2
  def __str__(self):
    for i in range(self.num1):
     list.append(1)
    for i in range(self.num2):
     list.append(1)
    return f"sum = {len(list)}"

object = oper(num1,num2)
print(object)

enter number 1
enter number 1
sum = 2